<div class="row">
  <div class="span4">
    <h2 style="text-align: center;">10 Ideas</h2>
    <div class="idea-list" id="idea-pending-list">
        <div class="idea">
            This is an idea that we really need to implement
        </div>
        <div class="idea">One idea</div>
        <div class="idea">One idea</div>
      </div>
  </div>
  <div class="span4">
    <h2 style="text-align: center;">In Progress</h2>
    <div class="idea-list" id="idea-in-progress-list">
        <div class="idea">One idea</div>
        <div class="idea">One idea</div>
        <div class="idea">One idea</div>
      </div>
  </div>
  <div class="span4">
    <h2 style="text-align: center;">Done 3</h2>
    <div class="idea-list" id="idea-done-list">
        <div class="idea">One idea</div>
        <div class="idea">One idea</div>
        <div class="idea">One idea <a href="http://google.com">link</a></div>
    </div>
  </div>
</div>
